<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Cadastro</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1><a href="/">Academia Online</a></h1>
        </div>
    </header>
    <div class="cadastro-container">
        <div class="cadastro-box">
            <h2>Cadastro</h2>
            <form class="cadastro-form" method="POST" action="{% url 'cadastro' %}">
                {% csrf_token %}

                <div class="topo">
                    <fieldset class="fieldset-grande">
                        <legend>Informações Pessoais</legend>
                        <fieldset class="dentro">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required placeholder="Nome">

                            <label for="sobrenome">Sobrenome:</label>
                            <input type="text" id="sobrenome" name="sobrenome" required placeholder="Sobrenome">

                            <label for="data_nasc">Data de Nascimento:</label>
                            <input type="date" id="data_nasc" name="data_nasc" required>
                        </fieldset>
                        <fieldset class="dentro">
                            <label for="sexo">Sexo:</label>
                            <select id="sexo" name="sexo" required>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="nao_declarar">Prefiro não dizer</option>
                            </select>

                            <label for="peso">Peso (kg):</label>
                            <input type="number" id="peso" name="peso" step="0.1" required>

                            <label for="altura">Altura (cm):</label>
                            <input type="number" id="altura" name="altura" step="0.01" required>
                        </fieldset>
                    </fieldset>

                    <fieldset class="direita">
                        <legend>Dados da Conta</legend>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="Exemplo123@gmail.com">

                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required placeholder="********">

                        <label for="senha_confirmacao">Confirme sua Senha:</label>
                        <input type="password" id="senha_confirmacao" name="senha_confirmacao" required placeholder="********">

                        <label for="imagem_perfil">Link da Imagem de Perfil:</label>
                        <input type="url" id="imagem_perfil" name="imagem_perfil">
                    </fieldset>
                </div>
                <div class="button-container">
                    <button type="submit">Cadastrar</button>
                    <button class="login-btn" onclick="window.location.href='../login.html';">Login</button>
                </div>

            </form>
        </div>
    </div>


    <footer style="position: relative;">
        <p>&copy; 2024 Academia Online. Todos os direitos reservados.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/aluno.bruno.50/about">Facebook</a>
            <a href="https://www.instagram.com/bruno_cfuentes/">Instagram</a>
            <a href="https://github.com/Bruno-Fuentes/AcademiaOnline.git">GitHub</a>
            <a href=" https://wa.me/35991701487">Suporte</a>
        </div>
    </footer>
</body>

</html>