<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia Online</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <!-- Cabeçalho e Barra de Navegação -->
    <header>
        <div class="logo">
            <h1><a href="index.html">Academia Online</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="#treinos-prontos">Treinos Prontos</a></li>
                <li><a href="#area-interacao">Área de Interação</a></li>
                <li><a href="#volume-treino">Volume de Treino</a></li>
                <li><a href="#treinar" class="btn-treinar">Treinar</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner Principal -->
    <section class="banner">
        <h2>Transforme-se Hoje</h2>
        <p>Seja a melhor versão de si mesmo</p>
    </section>

    <div id="container">
        <!-- Seção Treinos Prontos -->
        <section id="treinos-prontos" class="section">
            <h2>Treinos Prontos</h2>
            <p>Planos simples, adaptáveis e acessíveis onde você estiver.</p>
            <figure><img src="https://img.freepik.com/fotos-gratis/homem-forte-treinando-na-academia_1303-23478.jpg" alt="Homem com halter" srcset=""></figure>
            <!-- Filtros e Lista de Treinos podem ser adicionados aqui -->
        </section>

        <!-- Seção Perfil -->
        <section id="perfil" class="section">
            <h2>Perfil</h2>
            <p>Veja e edite suas informações pessoais e histórico de treinos.</p>
            <figure><img src="https://img.freepik.com/fotos-gratis/uma-linda-garota-negra-esta-envolvida-em-um-ginasio_1157-23736.jpg" alt="Mulher treinando" srcset=""></figure>
            <!-- Detalhes do perfil podem ser adicionados aqui -->
        </section>

        <!-- Área de Interação -->
        <section id="area-interacao" class="section">
            <h2>Área de Interação</h2>
            <p>Interaja com outros membros da comunidade.</p>
            <figure><img src="https://img.freepik.com/fotos-premium/grupo-de-pessoas-conversando-e-rindo-juntos-depois-de-um-treino-na-academia-fitness-e-conceito-de-estilo-de-vida-saudavel_38052-418.jpg" alt="Pessoas conversando" srcset=""></figure>
            <!-- Feed da comunidade pode ser adicionado aqui -->
        </section>


    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 Academia Online. Todos os direitos reservados.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
        </div>
    </footer>

    <script src="../static/script.js"></script>
</body>

</html>